@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@400;500;600&family=Unbounded:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style-type: none !important;
  text-decoration: none !important;
  box-sizing: border-box !important;
  scroll-behavior: smooth !important;
  /* outline: 2px solid red; */
}

.ff_Inter {
  font-family: 'Inter', sans-serif;
}

.ff_Poppins {
  font-family: 'Poppins', sans-serif;
}

.ff_Unbounded {
  font-family: 'Unbounded', cursive;
}

:root {
  /* ======= -fw- ========== */
  --fw-medium: 500;
  /* ========================================= fs ============================================ */
  --fs-xsm: 12px;
  --fs-sm: 16px;
  --fs-sm-bold: 17.87px;
  --fs-md: 20px;
  --fs-md-bold: 22.34px;
  --fs-lg: 40px;
  --fs-xl: 48px;
  /* ======================================= color ========================================= */
  --clr-primary: #00BFFF;
}

/* ======= -fw- ========== */
.fw_medium {
  font-weight: var(--fw-medium);
}

/* ======================================== fs ============================================ */
.fs_xsm {
  font-size: var(--fs-xsm);
}

.fs_sm {
  font-size: var(--fs-sm);
}

.fs_sm_bold {
  font-size: var(--fs-sm-bold);
}

.fs_md {
  font-size: var(--fs-md);
}

.fs_md_bold {
  font-size: var(--fs-md-bold);
}

.fs_lg {
  font-size: var(--fs-lg);
}

.fs_xl {
  font-size: var(--fs-xl);
}

/* ======================================= color ========================================= */

.text_primary {
  color: var(--clr-primary);
}

.bg_hero {
  background-image: url("./assets/img/png/hero_bg.png");
  background-position: center;
  background-size: cover;
}

.bg_nav_bar {
  background: linear-gradient(270deg, rgba(9, 12, 16, 0.12) 4.72%, rgba(9, 12, 16, 0.94) 12.5%, #090C10 90.54%, rgba(9, 12, 16, 0.23) 95.21%);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(101.96deg, #00BFFF 0%, #0085FF 100%);
  border-radius: 5.5px;
}

::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(101.96deg, #00BFFF 0%, #0085FF 100%);
}

.bg_body {
  background-color: #070A0E;
}

/* ========================== */
.hamburger-menu {
  margin-left: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
}

.bar-top,
.bar-middle,
.bar-bottom {
  height: 5px;
  background: white;
  border-radius: 5px;
  margin: 3px 0;
  transform-origin: left;
  transition: all 0.5s;
}

.hamburger-menu:hover .bar-top {
  transform: rotate(45deg);
}

.hamburger-menu:hover .bar-middle {
  transform: translateX(1rem);
  opacity: 0;
}

.hamburger-menu:hover .bar-bottom {
  transform: rotate(-45deg);
}

.ms_n100 {
  margin-left: -100%;
}

.nav_open {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: black;
  transition: all 0.3s ease-in-out;
  z-index: 7;
}

.z_index_2 {
  z-index: 2;
}

.z_index_8 {
  z-index: 8;
}

.hover_nav_btn:hover {
  color: #00BFFF !important;
}

.tranisition_0_3 {
  transition: 0.3s ease-in-out all;
}

.translate_y:hover .transform_translate_img {
  transform: translateY(7px);
}

.translate_y:hover span {
  opacity: 1;
}

/* ============== -hero- =============== */
.text_blue_gradient {
  background: linear-gradient(101.58deg, #00BFFF 50%, #0085FF 96.4%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.underLineNav::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: #ffffff;
  bottom: -3px;
  left: 0;
}

.underLineNav {
  position: relative;
}

.underLineNav::before {
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.underLineNav:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.bg_card_gradient {
  background: radial-gradient(40.91% 70.06% at 50.02% 49.67%, #05162B 0%, #041325 29%, #020912 69%, #000000 100%);
}

.line_height_30 {
  line-height: 30px;
}

.circles_w_21 {
  width: 21px;
}

.opacity_07 {
  opacity: 0.7;
}

.mw_445 {
  max-width: 445px;
}

.bg_cart {
  background: rgba(255, 255, 255, 0.07);
  box-shadow: 1.19477px 1.19477px 0.597386px rgba(0, 0, 0, 0.25);
  border-radius: 38.2327px;
  transition: 0.3s ease-in-out all;
}

.bg_server {
  background: linear-gradient(101.96deg, #00BFFF 0%, #0085FF 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 2px 2px 4px rgba(255, 255, 255, 0.25);
  border-radius: 50px;
  transition: 0.3s ease-in-out all;
}

.bg_cart:hover {
  background: linear-gradient(101.96deg, #00BFFF 0%, #0085FF 100%);
}

.bg_server:hover {
  transform: translateY(-7px);
}

.w_cart_17 {
  width: 17.18px;
}

.m_discord {
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 10px;
  margin-right: 10px;
}

.text_shadow {
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.slick-active {
  opacity: 1 !important;
}

.slick-current {
  opacity: 0.5 !important;
}

.slick-slide {
  opacity: 0.5;
}

.imgSlider .slick-list {
  height: 325px !important;
}

.imgSlider .slick-active {
  opacity: 0.5 !important;
}

.imgSlider .slick-center {
  opacity: 1 !important;
  transform: translateX(20px);
}

.position_right_dot {
  right: 0;
  bottom: -20%;
}

.position_left_dot {
  left: 0;
  bottom: -20%;
}

.imgSlilder .slick-active {
  opacity: 1 !important;
}

.transform_translate_hover:hover {
  transform: translateY(-7px);
}

.line_how_we_are {
  background: linear-gradient(270deg, #090C10 1.64%, rgba(2, 181, 255, 0.97) 32.54%, #02B5FF 54.88%, rgba(1, 158, 255, 0.351415) 83.04%, #090D11 98.3%);
  border: 1px solid;
  margin-top: 50px;
  padding: 1px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-image-source: linear-gradient(270deg, #090C10 1.64%, rgba(2, 181, 255, 0.97) 32.54%, #02B5FF 54.88%, rgba(1, 158, 255, 0.351415) 83.04%, #090D11 98.3%);
}

.mw_735 {
  max-width: 735px;
}

.bg_HowWeAre {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.05) 52.99%, rgba(255, 255, 255, 0) 100%);
}

.top_20 {
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
}

.ourfeatures_slider {
  background: linear-gradient(90.18deg, #0E141D 0%, #101822 100%);
  box-shadow: -24px -6px 80px #000000, 0px 2.23431px 3.35146px rgba(0, 0, 0, 0.25), 0px 10.0544px 31.2803px rgba(0, 0, 0, 0.25), inset 0px 2.23431px 3.35146px #4C6484, inset 21.2259px 11.1715px 44.6862px #192535;
  border-radius: 24.5774px;
}

.mw_480 {
  max-width: 500px;
}

.border_radius_16 {
  border-radius: 16px;
}

.slick-slider {
  margin: 0 auto;
}

.color_back_to_top {
  background-color: #0e284b;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  z-index: 9999;
  padding: 10px 10px 20px 10px;
}

/* ========================================= -footer- ==================================================== */
.bg_footer {
  background-image: url("./assets/img/png/footer_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.w_95 {
  width: 95px;
}

.opacity_05 {
  opacity: 0.5;
}

.mw_640 {
  max-width: 640px;
}

.text_hover_opcity_1:hover {
  opacity: 1;
}

.w_footer_discord {
  width: 27.74px;
}

/* ================================= */
@media (max-width:576px) {
  :root {
    --fs-xsm: 11px;
    --fs-sm: 13px;
    --fs-sm-bold: 13px;
    --fs-md: 14px;
    --fs-md-bold: 22.34px;
    --fs-lg: 35px;
    --fs-xl: 37px;
  }

  .min_height_200 {
    min-height: 200px;
  }

  .w_xsm_300 {
    width: 300px !important;
  }
}

@media (min-width:576px) {
  .opacity_03 {
    opacity: 0.3;
  }

  .w_sm_372 {
    width: 372px !important;
  }
}

@media (min-width: 992px) {
  .nav_open {
    all: unset;
  }
}

@media (max-width: 992px) {
  .min_vh_max_lg {
    min-height: 100vh;
  }
}

@media (min-width:1200) {
  .min_vh_xl_100 {
    min-height: 100vh;
  }
}